@media screen and (max-width: 400px){
body{
background-image: radial-gradient(farthest-corner at 50px 50px , #fff %0;, #000 100%;);
}
}

@media screen and (max-width: 800px){
body{
  background-color: #000;
}
}

#first-paragraph {
    color: #7171C6;
    font-size: 12px;
    text-align: center;
}
h1 {
  color: #7D9EC0;
  font-size: 20px;
  text-align: left;
}
