body{
  background-color: green;
}

@media screen and (min-width: 400px){
body{
    background-color: blue;
}
#first-paragraph {
    color: #000;
    font-size: 12px;
    text-align: center;
}
#second-paragraph {
    color: #fff;
    font-size: 12px;
    text-align: center;
}
#titlee {
color: white;
text-shadow: 5px;
font-size: 40px;
border-bottom: 4px;
border-bottom-style: double;
}
}

@media screen and (min-width: 1000px){
body{
  background-color: black;
}
#first-paragraph {
    color: #7171C6;
    font-size: 22px;
    text-align: center;
}
#second-paragraph{
color: #fff;
font-size: 22px;
text-align: center;
}
#titlee {
color: white;
text-shadow: 6px;
font-size: 60px;
border-bottom: 5px;
border-bottom-style: double;
}

h1 {
  color: #7D9EC0;
  font-size: 20px;
  text-align: left;
}
